<div class="m-5">
  <h1>Create Book</h1>
  <form [formGroup]="bookForm" (ngSubmit)="createBook()">
    <div class="form-group">
      <label for="name">Book Name:</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Enter book name"
      />
    </div>

    <div class="form-group">
      <label for="imageUrl">ImageUrl: </label>
      <input
        type="text"
        class="form-control"
        formControlName="imageUrl"
        placeholder="Enter Image url"
      />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input
        type="text"
        class="form-control"
        formControlName="description"
        placeholder="Enter book description"
      />
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input
        type="text"
        class="form-control"
        formControlName="price"
        placeholder="Enter book price"
      />
    </div>
    <button class="btn float-left bg-dark text-light" routerLink="/">
      Back
    </button>
    <button type="submit" class="btn bg-dark text-light float-right">
      Submit
    </button>
  </form>
</div>
